/* Root */
:root {
    background-color: #DBE9EE;
}

/* Header*/
.header {
    width: 100%;
    min-width: 800px;
    background-color: #244767;
    display:flex;
    align-items: center;
    height: 64px;
}
.logo {
    width:200px;
    height:64px;
    background-image: url('../Tickaholic_l.png');
    background-size:200px 180px;
    background-position: 50% 45%;
}
.top_nav {
    display:flex;
    justify-content: space-between;
    margin-left: 200px;
    
}

.top_nav div {
    padding: 20px 20px 20px 20px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
    font-size: 16px;
    background-color: #244767;
    border-style: none;
}

.top_nav div:hover {
    padding-bottom: 17px;
    border-bottom: 3px solid #e83e8c;
    background-color: #373C3A;
}
.top_nav div:active {
    background-color: #373C3A;
    border-bottom:3px solid #67E277;
}

/* Body of page*/
.outer_box {
    background-color: #DBE9EE;
    display: flex;
    justify-content:start;
}
/* Task box */
.task_box {
    background-color: #4F6D7A;
    width: 50vw;
    height: fit-content;
    padding-bottom: 50px;
    min-width: 480px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.16), 
    0 8px 8px rgba(0,0,0,0.20);

}
/* Input main task */
.add_task {
    position: relative;
    width: 40vw;
    min-width: 400px;
    top: 10px;
    left: 10px;
}
.add_task:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 6px 8px rgba(0,0,0,0.11),
    0 8px 16px rgba(0,0,0,0.11);
}

.add_button {
    position: relative;
    text-align: center;
    top: 10px;
    left: 15px;
}
.add_button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 6px 8px rgba(0,0,0,0.11),
    0 8px 16px rgba(0,0,0,0.11);
    ;
}

/* Table within task box */
.task_table {
    width: 50vw;
    min-width: 480px;

}
.task_table td {
    border-style:none;
}

.task_table thead th {
    border-style: none;
}
.task_table tbody tr:nth-child(odd) {
    background-color: #43505B;
}

.task_table tbody tr:nth-child(even) {
    background-color: #6E7481;
}


.task_name {
    color: white;
    overflow-wrap: anywhere;
    font-family: 'Nunito', sans-serif;
    font-weight:500;
}

th {
    color: white;
    font-family: 'Nunito', sans-serif;
}


/* Side bar */

.side-navigation-panel-select-option {
    min-width: 200px;
    margin-right: 5px;
    border-bottom: 1px solid white;
}
.side-navigation-panel-select-option:hover {
    background-color: #373C3A;
    border-bottom: 1px solid white;
    box-shadow: 1px 0 2px rgba(0,0,0,0.08), 
    2px 0 4px rgba(0,0,0,0.12), 
    4px 0 8px rgba(0,0,0,0.16), 
    8px 0 16px rgba(0,0,0,0.20);
}

.side-navigation-panel-select-inner {
    background-color: #4A6FA5;
}
.side-navigation-panel-select-inner-option {
    color: white !important;
    border-bottom: 1px solid white;
}
.side-navigation-panel-select-option-selected {
    background-color: #166088!important; 
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.16), 
    0 8px 8px rgba(0,0,0,0.20);
    
}

.side-navigation-panel-select-inner-option-selected {
    background-color: #166088!important;
    border-bottom: white !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.16), 
    0 8px 8px rgba(0,0,0,0.20);
}

.side-navigation-panel-select-inner-option:hover {
    background-color: #373C3A;
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.16), 
    0 8px 8px rgba(0,0,0,0.20);
}

.side-navigation-panel-select-option-text, .side-navigation-panel-select-inner-option-text, .side-navigation-panel-select-option-icon-chevron-down {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 600 !important;
}
.side-navigation-panel-select-option-icon-chevron-up {
    color: white;
    font-family: 'Nunito', sans-serif;
}
.side_bar {
    width: 20vw;
    min-width: 198px;
    position: sticky;
    background-color: #4A6FA5;
    display:inline-block;
    height:calc(100vh - 64px);
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.16), 
    0 8px 8px rgba(0,0,0,0.20);
}

.btn {
    font-family: "Nunito", sans-serif;
    font-weight:600;
}


/* Modal content*/
.modal-content {
    background-color: #DBE9EE;
}
